<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo à página de saudação</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <h1>Bem-vindo à página /saudacao</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates voluptatum quos nam laboriosam eius,
        perferendis facilis quam fugit blanditiis sapiente nisi quas reprehenderit illum doloremque, accusamus modi! Ab,
        cumque perspiciatis.</p>
</body>

</html>